section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

    background-image: url('/public/img/truskawki.jpg');
}

.add-recipe {
    background-image: url('/public/img/zloteTlo.png');
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    text-align: center;
    letter-spacing: 0.7px;
    width: 20%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

.recipes>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.recipes>div>div {
    height: 50%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(/public/img/zloteTlo.png);
    border-radius: 0 0 1em 1em;
}

.recipes>div {
    border: 1px solid gold;
    border-radius: 1em 1em 1em 1em;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#s1.fas.fa-heart {
    position: absolute;
    top: 492px;
    left: 500px;
    font-size: 1.5em;
}
#s2.fas.fa-heart {
    position: absolute;
    top: 492px;
    left: 1000px;
    font-size: 1.5em;
}
#s3.fas.fa-heart {
    position: absolute;
    top: 492px;
    left: 1500px;
    font-size: 1.5em;
}

#k1.fas.fa-minus-square {
    position: absolute;
    top: 492px;
    left: 750px;
    font-size: 1.5em;
}

#k2.fas.fa-minus-square {
    position: absolute;
    top: 492px;
    left: 1270px;
    font-size: 1.5em;
}

#k3.fas.fa-minus-square {
    position: absolute;
    top: 492px;
    left: 1750px;
    font-size: 1.5em;
}

section.recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-form > form {
    display: flex;
    flex-direction: column;
}


