section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

    background-image: url('/public/img/truskawki.jpg');
}

.add-recipe {
    background: transparent radial-gradient(closest-side at 50% 50%, #F1F1F1D8 0%, #ECBE05 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #00000029;
    border-radius: 19px;
    text-align: center;
    letter-spacing: 0.7px;
    width: 20%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

.add-recipe:hover {
    opacity: 90%;
}

.recipes>div>img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.recipes>div>div {
    height: 60%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(/public/img/images.png);
    border-radius: 0 0 1em 1em;
    word-break: break-word
}

.recipes>div {
    border: 1px solid gold;
    border-radius: 1em 1em 1em 1em;
    height: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.recipe-form > form {
    display: flex;
    flex-direction: column;
}

textarea, input {
    background-color: yellow;
    border: none;
    border-bottom: 1px solid black;
    padding: 1em;
    margin: 1em;
    width: 50%;
    border-radius: 26px;
}

.recipe-form > h1 {
    color: gold;
}

#add{
    background: none;
    border: none;
}

/*.fa-heart:before {*/
/*    !*margin-left: -5em;*!*/
/*    !*padding-right: -1.5em;*!*/
/*    !*position: relative;*!*/
/*    !*left: -0.5em;*!*/
/*    padding: 3px;*/

/*}*/

/*.fa-thumbs-down:before {*/
/*    !*margin: -1em;*!*/
/*    !*padding-right: 0.5em;*!*/
/*    !*position: relative;*!*/
/*    !*left: -0.7em;*!*/
/*    padding: 3px;*/

/*}*/

/*.fa-heart:after {*/
/*    !*margin-left: -5em;*!*/
/*    !*padding-right: 0.5em;*!*/
/*    padding: 3px;*/
/*}*/

/*.fa-thumbs-down:after {*/
/*    !*margin: 0em;*!*/
/*    !*padding-right: 0.5em;*!*/
/*    padding: 3px;*/
/*}*/


#more {
    display: none;
}
.social-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    background: transparent radial-gradient(closest-side at 50% 50%, #F1F1F1D8 0%, #ECBE05 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 24px;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: black;
    padding: 0.2em;
    width: 25%;
    height: 40px;
    margin-top: 1em;
}

.opis {
    margin: 2em;
}

.skl {
    font-weight: bold;
}








